.button{
    border-radius: 25px;
    color: black;
    border: 1px solid gray;
    padding: 10px 15px;
    text-decoration: none;
    margin-left: 10px;
}
.button:hover{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12) !important;
}

.question{
    display: flex;
    align-content: center;
    justify-content: center;
}
.answers{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.container {
    padding: 200px !important;
    margin: 0 !important;
}