.card{
  min-width: 10rem;
  box-shadow:  0px 5px 8px  rgba(0, 0, 0, 0.15) !important;
  
}
.slider{
  overflow: hidden;
}
.swiper-slide{
  margin-bottom: 14px !important;
}
.swiper-slide {
  min-width: 10rem  !important
}
.carousel{
  display: flex;
}

.fa-search{
  position: relative;
  left: -160px;
  background-color: rgba(128, 128, 128, 0.767);
  color: white;
  padding: 7px;
  border-radius: .25rem 0 0 .25rem;
}
.search-input{
  width: 10rem;
  padding: 5px;
  padding-left: 35px;
  border-radius: 5px;
  border: 1px solid gray;
}
.search-form{
  min-width: 200px;
}